packages:
  yum:
    make: []
    cmake: []
    gcc: []
    gcc-c++: []
    gcc-gfortran: []
    atlas: []
    atlas-devel: []
    lapack-devel: []
    blas-devel: []
    boost-devel: []

commands:
    03-pip:
        command: "sudo pip install pandas"
    04-pip:
        command: "sudo pip install patsy"
    06-pip:
        command: "sudo pip install statsmodels"